html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* This will prevent scrollbars from appearing */
}

canvas {
  display: block; /* This will remove the small space below the canvas */
}
